*{
    padding: 0;
    margin: 0;
}
.error{
    display: none;
}
footer{
    display:none;
}
#game{
   background-image:url("source/jungle.jpg");
   width:98.5vw;
   height:97.5vh;
   border:1vh solid black;
}

#helmut{
    width:0vw;
    height:0vh;
    position:relative;
    top: -60vh;
    right: -10vw;
} 
body{
    background-color: yellow;
}
h1{ 
    display: inline;
    text-shadow: 2px 2px #FF0000;
}
#text{
    margin-left:10%;
    font-family:'Courier New', Courier, monospace;
    color: red;
    text-shadow: 2px 2px black;
}
#text:hover{
    color: blue;
}
h1:hover {
    color:blue;
  }
#music{
    background-color: rgba(10, 219, 156, 0.8);
    border-radius:50%;
    color: white;
    margin-top: 50px;
    margin-right: 10px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:right;
    text-shadow: 2px 2px #FF0000;
  }
#sett-button{
    background-color: rgba(10, 219, 156, 0.8);
    border-radius:50%;
    color: white;
    margin-top: 10px;
    margin-right: 10px; 
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float:right;
    text-shadow: 2px 2px #FF0000;
}

  #settings{
      z-index: 5;
    width:40vw;
    height:60vh;
    position:absolute;
    margin-left: 30vw;
    margin-top: 20vh;
    border:1vh solid rgba(10, 219, 156, 1);
    background-color:rgba(10, 219, 156, 0.2);
  }


.close{
        width:40%;
        height:fit-content;
        justify-self: center;
        align-self: center;
        text-align: center;
        grid-column: 1/5;
        background-color:rgba(10, 219, 156, 0.8);
        border-radius: 15%;
        color: black;
        text-decoration: none;
        display: inline-block;
} 

h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
}

#instruction{
    font-size: 4vh;
    padding-right: 60%;
}

h3{
    white-space: pre;
}
.img{
    padding-left:2%;
}

/*                    S E T T I N G S         */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    flex-wrap: wrap;
    
    
  }
  .grid-item {
    border: 1px solid rgba(10, 219, 156, 0.8);
    background:linear-gradient(rgba(10, 219, 156, 0.3),rgba(10, 219, 156, 0.4),rgba(10, 219, 156, 0.8)) ;
    
    font-size: 30px;
    text-align: center;
    
  }
  .grid-item:hover{
      background-color:#2196F3;
  }
#setting{
        text-align: center;
        grid-column: 1/5;
}
#close1{
     font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: rgb(150, 206, 246);
}
h3{
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    color:aqua
}
.br{
    border: 5px solid  #28bdbdf3;
}

.close:hover{
    transform: scale(1.2);
}

h4{
    color:rgb(18, 206, 206);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.setting-header{
    color: rgb(150, 206, 246);
}

@media only screen and (max-width: 1200px)  {
    @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');
.error{
    display: contents;
    }
body{
    height: 95vh;
    background: #000000;
    text-align: center;
    color: #E0E0E0;
    font-family: 'Fira Mono', monospace;
}
h1{
    font-size: 2.5rem;
    font-family: 'Permanent Marker', cursive;
}
div{
    transform-style: preserve-3d;
}
svg{
    width: clamp(300px , 70% , 600px);
    height: 500px;
  
}
#rocket{
    
    transform: translateY(750px);
   
    animation: launch 2s ease-out forwards;
}

@keyframes launch {
    from {
        transform: translateY(750px);
    }
    to{
        perspective: 500px;
        transform: translateY(0px); 
    }
}
#stars {
    animation: twinkling 2s linear ;
}
@keyframes twinkling {

    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.text{
    opacity: 0;
    animation:appear 1s ease-in forwards;
    animation-delay: 1.8s;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
a{
    color:#F66947;
    text-decoration: none;
}
   #main{
       display: none;
   }
  }

@media only screen and (max-width: 1800px)  {
    
  #settings{
      width: 700px;
  }
}